:host {
    display: block;
    max-width: 400px;
    margin: 2em auto;
  }
  
  mat-card {
    width: 100%;
    margin: 2em auto;
    text-align: center;
    mat-card-header {
      justify-content: center;
    }
  
    mat-card-content {
      form {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
  
        mat-form-field {
          width: 100%;
          margin-bottom: 1em;
        }
  
        button[type="submit"] {
          width: 100%;
        }
      }
    }
  
    mat-card-actions {
      justify-content: center;
    }
  }